.pageTitle {
    font-size: 72px;
    font: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.person {
    font-size: 22px;
    font: bolder;
    font-family: 'Courier New', Courier, monospace;
    text-align: left;
}