.page {
    background-color: antiquewhite;
}

.pageTitle {
    font-size: 90px;
    font: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}

.partner1 {
    font-size: 40px;
    font: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    width: 50%;
    float: left;
}

.partner2 {
    font-size: 40px;
    font: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    width: 50%;
    float: right;
}

.deca {
    font-size: 40px;
    font: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: left;
    color: #006E0E;
    padding-left: 70px;
}